@model BookDisplayModel
@{ 
}
<div class="my-2">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="genreId">Genres</label>
            <select class="form-select" id="genreId" name="genreId">
                <option selected>Genres</option>
                @foreach (var genre in Model.Genres!)
                {
                    <option selected="@(genre.Id == Model.GenreId)" value="@genre.Id">@genre.Name</option>
                }
            </select>
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="filter">Search by title</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.Filter" id="filter" name="filter" placeholder="Sarch by title">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/Home/Index" class="btn btn-dark">Reset</a>
        </div>
    </form>
</div>

<div class="d-flex flex-wrap justify-content-around content-wrapper">
    @foreach(var book in Model.Books!)
    {
        <div class="card mx-2 mb-4 card-item">
            @if(string.IsNullOrEmpty(book.CoverUrl))
            {
                <img src="https://www.afrizar.com/images/no-image.png" class="card-img-top book-cover" alt="...">
            }
            else
            {
                <img src=@book.CoverUrl class="card-img-top book-cover" alt="...">
            }
            <div class="card-body">
                <h5 class="card-title book-title">@book.Name</h5>
                <p class="card-text card-description">
                    <b>Author: </b>@book.AuthorName <br/>
                    <b>Genre: </b>@book.GenreName <br/>
                    <b>Price: </b>@book.Price$ <br/>
                </p>
                <div class="d-flex justify-content-center transition-scale">
                    <button href="#" class="btn btn-primary add-to-cart-button">Add to cart</button>
                </div>
            </div>
        </div>
    }
</div>
